<!DOCTYPE html>
<html>
<head>
<title>Select Role</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container fadeIn">
  <h2 class="title">Select Login Role</h2>

  <div class="role-box">
    <a class="btn primary" href="/uploader-login">Uploader Login</a>
    <a class="btn secondary" href="/verify-login">Receiver Login</a>
  </div>

  <br>
  <p style="margin-top:10px; font-size:15px;">
    New user? <a href="/register">Create an account</a>
  </p>
</div>

</body>
</html>
